*{
    font-family: 'Courier New', Courier, monospace;
}

/*Head styling*/

/* Styling to make the heading typed in
#name h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
/*  border-right: .15em solid orange; /* The typwriter cursor */
/*  white-space: nowrap; /* Keeps the content on a single line */
/*  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
/*  letter-spacing: .15em; /* Adjust as needed */
/*  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}





/*Body styling */

body {
    background-color: rgb(233, 233, 233);
    margin: 40px auto;
    max-width: 800px;
    padding: 0 40px;
  }

#name{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("resources/programmer-wallpaper-preview.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 400px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-size: 26px;
}


#name h1 {
    position: relative; /* Position the text */
    top: 20px; /* Distance from the bottom */
    left: 20px; /* Distance from the right */
  }


/*Nav bar formatting*/

nav {
    background-color: rgb(80, 186, 248);
    width: 100vw; /* Set the width to 100% of the viewport width */
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 5;
  }
  
  nav a {
    display: inline;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }

  /*Contact page formatting*/

  #contactTitle{
    margin-top: 100px;
  }